<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">
           <form class="form-inline">
               <div class="form-group">
                   <button class="btn btn-danger">Shipment Status</button>
               </div>
               <div class="form-group">
                   <button class="btn btn-danger">Shipment Location</button>
               </div>
               <div class="form-group">
                   <button class="btn btn-danger">Seal Location</button>
               </div>
               <div class="form-group">
                   <button class="btn btn-danger">Shuttle Location</button>
               </div>
               <div class="form-group">
                   <button class="btn btn-danger">General Log</button>
               </div>

           </form>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Recent Pickups <small>({{pickups.length}})</small>

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> PickUps
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <td><strong>Shipment HAWB</strong></td>
                    <td><strong>Shipper</strong></td>
                    <td><strong>remarks</strong></td>
                    <td><strong>Payment Mode</strong></td>
                    <td><strong>Personel</strong></td>
                    <td><strong>Amount</strong></td>
                    <td><strong>Consignee Address</strong></td>
                    <td><strong>Consignee Telephone</strong></td>
                    <td><strong>Date</strong></td>
                </tr>
                <tr ng-repeat="pickup in pickups | filter:{ shipment.hawb: pickup_hawb, personel: pickup_personel, shipment.status: pickup_status, shipper: pickup_shipper }">

                    <td>{{pickup.shipment.hawb}}</td>
                    <td>{{pickup.shipper}}</td>
                    <td>{{pickup.remarks}}</td>
                    <td>{{pickup.payment_mode}}</td>
                    <td>{{pickup.personel}}</td>
                    <td>{{pickup.amount}}</td>
                    <td>{{pickup.consignee_address}}</td>
                    <td>{{pickup.consignee_tel}}</td>
                    <td>{{pickup.uploaded_on}}</td>
                </tr>
                </thead>
            </table>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->