<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/dashboard">
            <img src="images/courierplus.jpg">
        </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.first_name|uppercase}} {{currentUser.last_name|uppercase}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!--<li>-->
                    <!--<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>-->
                <!--</li>-->

                <li class="divider"></li>
                <li>
                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav" style="margin-top: 38px;">
            <li>
                <a href="#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active': isActive('shipments')}" ng-show="hasRole(['administrator', 'control'], currentUser.role)">
                <a href="#/shipments"><i class="fa fa-fw fa-table"></i> Shipments</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active':isActive('seal')}" ng-show="hasRole(['administrator', 'control'], currentUser.role)">
                <a href="#/seals"><i class="fa fa-fw fa-edit"></i> Seals</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active':isActive('shuttle')}" ng-show="hasRole(['administrator', 'control'], currentUser.role)">
                <a href="#/shuttle-control"><i class="fa fa-fw fa-desktop"></i> Shuttle Control</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active':isActive('users')}" ng-show="hasRole(['administrator'], currentUser.role)">
                <a href="#/users"><i class="fa fa-fw fa-wrench"></i> Users</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active':isActive('shippers')}" ng-show="hasRole(['administrator', 'control'], currentUser.role)">
                <a href="#/shippers"><i class="fa fa-fw fa-wrench"></i> Shippers</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active': isActive('branches')}" ng-show="hasRole(['administrator'], currentUser.role)">
                <a href="#/branches"><i class="fa fa-fw fa-wrench"></i> Branches</a>
            </li>
            <li>
            <!--<li ng-class="{'active': isActive('trucks')}" ng-show="hasRole(['administrator'], currentUser.role)">-->
                <a href="#/trucks"><i class="fa fa-fw fa-wrench"></i> Trucks</a>
            </li>
            <!--<li>-->
            <li ng-class="{'active': isActive('warehouses')}" ng-show="hasRole(['administrator'], currentUser.role)">
                <a href="#/warehouses"><i class="fa fa-fw fa-archive"></i>Warehouses</a>
            </li>
            <li ng-show="hasRole(['control'], currentUser.role)">
            <!--<li>-->
                <a href="#/history"><i class="fa fa-fw fa-wrench"></i> History</a>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>