<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>
    <block-ui></block-ui>
    <div id="page-wrapper">
        <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
            <option value="doc">Export to Doc</option>
            <option value="excel">Export to Excel</option>
        </select>

        <div class="container-fluid">
            <form class="form-inline">
                <div class="form-group">

                    <input type="text" class="form-control" ng-model="shipment_hawb" placeholder="Search by HAWB">
                </div>
                <div class="form-group">

                    <select class="form-control" ng-model="shipment_status">
                        <option value="">All Status</option>
                        <option ng-repeat="status in filter_options.status" value="{{status}}">{{status}}</option>

                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="shipment_shipper">
                        <option value="">All Shippers</option>
                        <option ng-repeat="sh in filter_options.shippers" value="{{sh}}">{{sh}}</option>

                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="shipment_content">
                        <option value="">All Content</option>
                        <option ng-repeat="o in filter_options.content" value="{{o}}">{{o}}</option>

                    </select>
                </div>
                <div class="form-group">
                    <input type="date" ng-model="uploaded_on">
                </div>
                <div class="form-group">
                    <button ng-click="go()" class="btn btn-warning">Go</button>
                </div>
            </form>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        All Shipments <a class="btn btn-success" href="#/shipment/new">New</a>

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shipments
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <table class="table table-striped export-table">

                    <tr>
                        <td><strong>HAWB</strong></td>
                        <td><strong>WEIGHT</strong></td>
                        <td><strong>AMOUNT</strong></td>
                        <td><strong>CONTENT</strong></td>
                        <td><strong>STATUS</strong></td>
                        <td><strong>WAREHOUSE</strong></td>
                        <td><strong>Personel</strong></td>
                        <td><strong>Shipper</strong></td>
                        <td><strong>Consignee Address</strong></td>
                        <td><strong>Uploaded on</strong></td>
                    </tr>
                    <tr ng-repeat="shipment in shipments | filter:{ hawb: shipment_hawb, status: shipment_status, content: shipment_content, shipper.name: shipment_shipper }">
                        <td><a ng-href="#/shipment/detail/{{shipment.hawb}}">{{shipment.hawb}}</a></td>
                        <td>{{shipment.weight}}</td>
                        <td>{{shipment.amount}}</td>
                        <td>{{shipment.content}}</td>
                        <td>{{shipment.status}}</td>
                        <td>{{shipment.warehouse.name}}</td>
                        <td>{{shipment.pickedby}}</td>
                        <td>{{shipment.shipper.name}}</td>
                        <td>{{shipment.consignee_address}}</td>
                        <td>{{shipment.pick_up_time|date}}</td>
                    </tr>

            </table>

            <nav>
                <ul class="pagination pagination-lg">
                    <li>
                        <a ng-click="paginate('next')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;Previous</span>
                        </a>
                    </li>

                    <li>
                        <a ng-click="paginate('previous')" aria-label="Next">
                            <span aria-hidden="true">Next&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->