<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">
        <select class="pull-right" ng-change="performAction()" ng-model="action">
            <option>Actions
            <option value="delete">Delete selected item</option>

        </select>

        <div class="container-fluid">

            <input type="text" ng-model='filter_by_name' placeholder="shipper name">
            <button ng-click="go()" class="btn btn-success">Go</button>



            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shippers
                        <small>
                            <a href="#/shipper/new" class="btn btn-success">New</a>
                        </small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shippers
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
                <option value="pdf">Export to pdf</option>
                <option value="excel">Export to excel</option>
            </select>
           <table class="table table-striped export-table">

                <tr>
                    <td><input type="checkbox"></td>
                    <td><strong>Name</strong></td>
                    <td><strong>Telephone</strong></td>
                    <td><strong>Type</strong></td>
                    <td><strong>Address</strong></td>
                    <td><strong>Email</strong></td>
                </tr>

                <tr ng-repeat="s in shippers | filter: {name: filter_by_name}">
                    <td><input type="radio" ng-model="$parent.selected_item" checked="false" ng-value="accessors.getId(s)"></td>
                    <td>{{s.name}}</td>
                    <td>{{s.tel}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.email}}</td>
                </tr>

           </table>

            <nav>
                <ul class="pagination pagination-lg">
                    <li>
                        <a ng-click="paginate('next')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;Previous</span>
                        </a>
                    </li>

                    <li>
                        <a ng-click="paginate('previous')" aria-label="Next">
                            <span aria-hidden="true">Next&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->