<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">





            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Edit Shipment

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shipment
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <p class="text-danger">{{message}}</p>

            <form role="form" ng-submit="editShipment()" class="form-horizontal" name="shipmentForm" novalidate>
                <div class="form-group">
                    <label class="col-md-4">HAWB: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.hawb" name="hawb" ng-value="shipment.hawb" class="form-control" type="text" disabled>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Weight: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.weight" name="weight" ng-value="shipment.weight" class="form-control" type="text">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Name: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_name" name="name" ng-value="shipment.consignee_name" class="form-control" type="text">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Tel: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_tel" name="tel" ng-value="shipment.consignee_tel" class="form-control" type="text">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Address: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_address" name="address" ng-value="shipment.consignee_address" class="form-control" type="text">


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Shipper: </label>
                    <div class="col-md-8">
                        <input ng-value="shipment.shipper.name" disabled>
                        <!--<select class="form-control" name="shipper" ng-model="shipment.shipper" ng-required="true">-->
                            <!--<option ng-repeat="s in shippers" ng-value="accessors.getId(s)">{{s.name}}</option>-->
                        <!--</select>-->

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Amount: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.amount" name="amount" ng-value="shipment.amount" class="form-control" disabled>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Content: </label>
                    <div class="col-md-8">
                        <input ng-value="shipment.content" disabled>
                        <!--<input ng-value="shipment.content">-->
                        <small class="text-warning" ng-show="shipmentForm.shipper.$error.required">Shipper is required</small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4">Status: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="status" ng-model="shipment.status">
                            <option ng-repeat="s in delivery_statuses" value="{{s}}" ng-selected="isSelected(s, shipment.status)">{{s}}</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Warehouse: </label>
                    <div class="col-md-8">
                        <input type="text" ng-value="shipment.warehouse.name" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Picked up by: </label>
                    <div class="col-md-8">
                        <input type="text" ng-value="shipment.pick_up_by.username" disabled>
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-md-4"> </label>
                    <div class="col-md-8">
                        <input class="form-control btn btn-success" value="Update Shipment" type="submit">
                    </div>
                </div>
            </form>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->