<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">



            <select class="pull-right">
                <option>Actions</option>
                <option>Export to pdf</option>
                <option>Export to excel</option>
            </select>

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shippers
                        <small>
                            <button class="btn btn-success">New</button>
                        </small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shippers
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <p class="text-danger">{{message}}</p>

            <form role="form" ng-submit="createShipper()" class="form-horizontal" name="shipperForm" novalidate>
                <div class="form-group">
                    <label class="col-md-4">Name: </label>
                    <div class="col-md-8">
                        <input ng-model="shipper.name" name="name" class="form-control" type="text" ng-required="true">
                        <small ng-show="shipperForm.name.$error.required" class="text-warning">Name is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Email: </label>
                    <div class="col-md-8">
                        <input ng-model="shipper.email" name="email" class="form-control" type="email" ng-required="true">
                        <small class="text-warning" ng-show="shipperForm.email.$error.required">Email is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Tel: </label>
                    <div class="col-md-8">
                        <input ng-model="shipper.tel" name="tel" class="form-control" type="text" ng-required="true">
                        <small class="text-warning" ng-show="shipperForm.tel.$error.required">Tel is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Address: </label>
                    <div class="col-md-8">
                        <input ng-model="shipper.address" name="address" class="form-control" type="text" ng-required="true">
                        <small class="text-warning" ng-show="shipperForm.address.$error.required">Address is required</small>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Type: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="type" ng-model="shipper.type" ng-required="true">
                            <option ng-repeat="t in shipper_types" value="{{t}}">{{t}}</option>
                        </select>
                        <small class="text-warning" ng-show="shipperForm.type.$error.required">Type is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"> </label>
                    <div class="col-md-8">
                        <input class="form-control btn btn-success" type="submit">
                    </div>
                </div>
            </form>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->