<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">
        <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
            <option value="pdf">Export to pdf</option>
            <option value="excel">Export to excel</option>
            <option value="doc">Export to doc</option>
        </select>

        <div class="container-fluid">
            <div ng-include="'/partials/history-nav.html'"></div>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shuttle History

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shuttle
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <input type="text" ng-model="filter.number" placeholder="number">
            <input type="date" ng-model="filter.date">
            <input type="submit" ng-click="filterHistory()" value="filter">
            <!--table here-->
            <table class="table export-table">
                <tr>
                    <td>
                        <strong>Number</strong>
                    </td>

                    <td>
                        <strong>Old Shipments</strong>
                    </td>

                    <td>
                        <strong>New Shipments</strong>
                    </td>


                    <td>
                        <strong>Old Location</strong>
                    </td>

                    <td>
                        <strong>New Location</strong>
                    </td>

                    <td>
                        <strong>Time</strong>
                    </td>

                    <td>
                        <strong>Edited by</strong>
                    </td>


                </tr>

                <tr ng-repeat="s in shuttle_history">
                    <td>
                        {{s.number}}
                    </td>
                    <td>
                        <ol>
                            <li ng-repeat="sh in s.shipments">{{sh}}</li>
                        </ol>
                    </td>
                    <td>
                        {{s.old_location}}
                    </td>
                    <td>
                        {{s.new_location}}
                    </td>

                </tr>
            </table>

            <nav>
                <ul class="pagination pagination-lg">
                    <li>
                        <a ng-click="paginate('next')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;Previous</span>
                        </a>
                    </li>

                    <li>
                        <a ng-click="paginate('previous')" aria-label="Next">
                            <span aria-hidden="true">Next&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->