<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">

            <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
                <option>Actions</option>
                <option value="pdf">Export to pdf</option>2
                <option value="excel">Export to excel</option>
                <option value="doc">Export to Doc</option>
            </select>

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shuttle Detail

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shuttle
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <table class="table export-table table-bordered">
                <caption>Shuttle Detail Table</caption>
                <tr>
                    <td><strong>Number</strong></td>
                    <td><strong>Departure</strong></td>
                    <td><strong>Destination</strong></td>
                    <td><strong>Present Location</strong></td>
                    <td><strong>Shipments</strong></td>
                </tr>
                <tr>
                    <td>{{shuttle.number}}</td>
                    <td>{{shuttle.departure}}</td>
                    <td>{{shuttle.destination}}</td>
                    <td>{{shuttle.location}}</td>
                    <td>
                        <ol>
                            <li ng-repeat="sh in shuttle.shipments">{{sh}}</li>
                        </ol>
                    </td>
                </tr>
            </table>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->