<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">
            <select class="pull-right" ng-model="action" ng-change="performAction()">
                <option>Action</option>
                <option value="delete">Delete selected users</option>
            </select>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        All Warehouses

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Warehouses
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <strong>Name</strong>
                            </td>

                            <td>
                                <strong>Branch</strong>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="w in warehouses">
                            <td>
                                <input type="radio" ng-value="accessors.getId(w)" ng-model="$parent.selected_item" checked="false">
                            </td>
                            <td>
                                {{w.name}}
                            </td>
                            <td>
                                {{w.branch.name}}
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination pagination-lg">
                            <li>
                                <a ng-click="paginate('next')" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;Previous</span>
                                </a>
                            </li>

                            <li>
                                <a ng-click="paginate('previous')" aria-label="Next">
                                    <span aria-hidden="true">Next&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">

                    <form ng-submit="createWarehouse()" class="form-horizontal" role="form" name="warehouseForm" novalidate>
                        <div class="form-group">
                            <label class="col-md-4">Name</label>
                            <div class="col-md-8">
                                <input ng-model="warehouse.name" name="name" class="form-control" type="text" ng-required>
                                <small class="text-warning" ng-show="warehouseForm.name.$error.required">Name is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4">Branch</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="warehouse.branch">
                                    <option ng-repeat="b in branches" ng-value="accessors.getId(b)">{{b.name}}</option>
                                </select>
                                <small class="text-warning" ng-show="warehouseForm.branch.$error.required">Branch is required</small>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-8">
                                <input class="form-control btn btn-warning"  type="submit" value="Create Branch">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->